

<style>
@keyframes lol {
    from {
        transform: rotate(0deg);
    }
    to {
        transform :rotate(360deg);
    }
}
.spinny-car {
    animation : lol .5sec infinite linear;
    display:inline-box;
    font-size: 30px;
}
</style>
<div class="spinny-car"> 🏎 </div>

