* {
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}

body {
    background-color:#cdb4db;
    color :#0a0a0a;
    font-family : "VIC AU Edu  WA NT Arrows", cursive;
    text-align: center;
}
nav {
    background-color:#ffafcc;
    padding : 25px;
    display: flex;
    justify-content: space-between;
    align-items: centre;

}
h2{
    letter-spacing: 1px;
}
form {
    display: flex;
    justify-content : space-between;
    align-items: center;
    flex-grow: 1px;
    margin: 13px , 12px ;
}
form , button {
    border: none;
    padding : 10px , 8px;
    border-radius : 3px;
    cursor: pointer;
    background-color: #a2d2ff;
}
button:hover{
  background-color: #56a6ecc2 ;
}
.recipecontainer {
    text-align : centre;
    margin-top : 18px
   
}
@media screen and (max-width:500px) {
    nav{
        flex-direction: column;
    }
    form {
        width: 70px;
        flex-direction: column;
    }
    
}
